/* small mobile :320px. */
@media (max-width: 767px) {
  h2 {
    font-size: 24px;
    line-height: 24px;
  }

  img.profile {
    width: 50%;
    height: 50%;
  }
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Tablet desktop :768px. */
@media (min-width: 768px) {
  nav {
    margin: 40px 80px;
  }
  main#blog ul.posts li .description {
    font-size: 20px;
  }

  main#blog ul.posts li .image {
    height: 394px;
  }

  main#work ul.projects li .info {
    margin-top: 0;
  }

  main#work ul.projects li .image {
    height: 298px;
    margin-bottom: 16px;
  }

  ul.social {
    flex-direction: row;
  }
}

/* Normal desktop :992px. */
@media (min-width: 992px) {
  main {
    width: 910px;
    max-width: 910px;
    margin: 0 auto 100px;
  }

  main.inner {
    width: 960px;
    max-width: 960px;
  }

  .jumbotron {
    padding: 116px 116px 0;
    min-height: 658px;
  }

  .jumbotron img.profile {
  }

  main#blog ul.posts li {
    flex: 0 0 48%;
    margin-bottom: 140px;
  }

  main#work ul.projects li {
    flex-direction: row;
  }

  main#work ul.projects li .image {
    margin-right: 65px;
    width: 298px;
    margin-bottom: 0;
  }
}

/* Large desktop :1270px. */
@media (min-width: 1270px) {
  main.inner {
    width: 1200px;
    max-width: 1200px;
  }

  main#blog ul.posts li {
    flex: 0 0 45%;
  }
}

/****  MENU ONLY *******/
@media (min-width: 769px) {
  .button_container {
    display: none;
  }
}
@media (max-width: 768px) {
  .navbar-right {
    display: none;
  }

  nav.navbar {
    z-index: 1;
    position: fixed;
    top: 0;
    background: #fff;
    width: 100% !important;
    height: 60px;
    padding-left: 16px;
    margin: 0;
    display: flex;
    align-items: center;
  }

  nav.shadow {
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  }
}
