/* ENTIRE SITE */
/* Fonts and colors */
body {
  font-family: "Victor Mono", sans-serif;
}

* {
  color: #707070;
}

/* Navbar */
nav.navbar {
  text-transform: uppercase;
  background-color: white;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #77ba7e;
}

/* HOME PAGE */

/* Jumbotron */
.jumbotron.hello {
  background-image: url("/img/title-bar.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  -webkit-box-shadow: -1px 0px 30px -8px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: -1px 0px 30px -8px rgba(0, 0, 0, 0.51);
  box-shadow: -1px 0px 30px -8px rgba(0, 0, 0, 0.51);
}

.jumbotron.hello img.profile {
  max-width: 33%;
  border: 4px solid #94c9ac;
  border-radius: 100%;
  overflow-y: visible;
  margin-bottom: -25%;
}

.jumbotron.hello h1.display-4 {
  color: #94c9ac;
}

.includes-jumbotron-hello {
  margin-bottom: 20%;
}

/* Social links */
