body{
    font-family: 'PT Mono', monospace;


    background-image: url("../img/background.jpg");
    background-size: cover;

 /* add the below to the cover
    width: 100vw;
    height: 100vh;
    position: absolute;
      
    top: 0;
      */

} 

html, body, .container-center {
    height: 100%;
}

.container-center {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

h1, h2, h3, h4{
    color: #716e6e ;
}

.img-profile{
    width: 200px;
    border: 1px solid #d0d0d0;
}

.social{
    color: gray;
    margin: 16px;
}

i.fa {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
  }