// Fonts
$text-font-family: "Open Sans",
Lato,
Georgia,
serif;
$heading-font-family: "Victor Mono",
sans-serif;
$code-font-family: 'Source Code Pro',
'Lucida Console',
monospace;

// Colors
$bg-color: #FAFAFA !default;
$fg-color: #212121 !default;
$alt-bg-color: #E0E0E0 !default;
$alt-fg-color: #707070 !default;
$link-color: #246b45 !default;
$alt-text-color: #94C9AC !default;

// Colors dark
$bg-color-dark: #212121 !default;
$fg-color-dark: #dadada !default;
$alt-bg-color-dark: #424242 !default;
$alt-fg-color-dark: #dadada !default;
$link-color-dark: #8bffc1 !default;
$alt-text-color-dark: #94C9AC !default;
